{
  "presets": [
    ["@babel/env", { "targets": { "browsers": [">0.25%", "not dead"] } }],
    "@babel/typescript",
    "@babel/react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-typescript",
      {
        "allowNamespaces": true
      }
    ]
  ]
}
